/* -------------------------------------------
--------------style Heading----------------- */
body  {
    max-width: 1200PX;
    margin: auto;
}

.prhed {
    color: peru;
    background-color: wheat;
    margin-left: 30px;
    font-size: 50px;
}

#mdooo {
    background-color: rgb(165, 253, 165);
    padding: 40px;
    font-size: 20px;
    font-style:italic ; 
    color: brown;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<
,,,,,,,,,,,,,,,,,,,,,,,, about page style >>>>>>>>>>>>>>>>>>>> */

.aboutpage {
    background-image: url(/img/aboutbg.avif);
    /* background-repeat: repeat-x; */
    background-position: center;
    
    color: rgb(255, 0, 0);
    box-shadow: 10px 10px rgba(192, 192, 192, 0.349);
    border-radius: 20PX;
}